html {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

.conteiner, .conteiner-contakts {
    /*border: 1px solid #000;*/
    /*border-color: red;*/
}

.content, .header, .header-content, .what-we-do, .models, .classic, .retro, .neo-classic, .end, .conteiner-f,
.top, .noiz, .border, .prava, .header-contarts, .us, .forma, .adress, .messenge, .map {
    /*border: 1px solid #000;*/
}

.top-contact {
    padding-top: 25px;
    padding-bottom: 25px;
    flex-grow: 1;
    background-image: url(/img/top-image.png);
    background-repeat: no-repeat;
    background-position: center;
}

.content {
    border-color: blue;
    height: 600px;
    margin-left: 100px;
    margin-right: 50px;
}

.header {
    border-color: green;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 20px;
}

.header-content {
    border-color: darkgoldenrod;
    width: 510px;
}

.what-we-do {
    border-color: tomato;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 50px;
}

.models {
    border-color: darkorchid;
    display: flex;
    justify-content: space-between;
}

.classic {
    border-color: gold;
    width: 359px;
}

.retro {
    border-color: gold;
    width: 359px;
}

.neo-classic {
    border-color: gold;
    width: 359px;
}

.end {
    border-color: hotpink;
    margin-top: 5px;
    margin-left: 100px;
    margin-right: 50px;
}

.conteiner-f {
    border-color: red;
    margin-top: 25px;
    background: #316099;
    /*background-color: royalblue;*/
}

.top {
    border-color: white;
    margin-left: 100px;
    margin-right: 50px;
}

.noiz {
    border-color: white;
    width: 495px;
    display: flex;
    justify-content: space-between;
}

.border {
    border-color: white;
    margin-left: 100px;
    margin-right: 50px;
}

.info {
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: space-around;

    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.prava {
    border-color: white;
    margin-bottom: 20px;
}

.header-contarts {
    border-color: green;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 50px;
    padding-top: 42px;
    margin-bottom: 20px;
}

.forma {
    border-color: green;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.adress {
    border-color: violet;
}

.text-none{
    list-style-type: none;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.messeng {
    border-color: violet;
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}

.map {
    border-color: yellow;
}

.text-header {
    width: 425px;
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.other-text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    margin-bottom: 50px;
}

.bl1 {
    font-size: 64px;
    width: 510px;
    color: #1F3F68;
}


.bl2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.bl3 {
    font-size: 36px;
    text-align: center;
}

.bl4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.fo {
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    width: 500px;
    opacity: 0.4;
    border: 1px solid #356EAD;
    height: 50px;
}

.otp {
    border-radius: 10px;
    width: 500px;
    /*font-weight: 500px;*/
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
}

.messeng_in {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*друг*/
* {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

.contakts {
    border: 1px solid #000;
    border-color: red;
}

.content {
    height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.conteiner {
    max-width: 1140px;
    margin: 0 auto;
}

.tf_conteiner {
    max-width: 1366px;
    margin: 0 auto;
}

.top_box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    border-color: green;
    display: flex;
    justify-content: space-between;
    padding-top: 34px;
}

.header-content {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(Pictures/illustration.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.top_button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    text-decoration: none;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    display: inline-block;
    margin-top: 71px;
}

.bottom_button {
    text-decoration: none;
    padding: 15px 80px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    display: inline-block;
    background: #5A98D0;
    border: none;
    float: right;
}

.what-we-do {
    padding-top: 64px;
}

.models {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}
.box {
    width: 359px;
    background-color: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 44px 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.img_card {
    align-self: center;
    margin-bottom: 51px;
}

.cart_link {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    margin-top: 30px;
    color: #5A98D0;
}

.project_img {
    width: 100%;
}

.project__item {
    position: relative;
    flex-grow: 1;
}

.project_parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 112px
}

.margin {
    margin-right: 32px;
}

.project_text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}

.img_text {
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px;
}

.footer {
    height: 657px;
    background: #316099;
}

.top {
    padding: 91px 113px 0 113px;
}

.noiz {
    border-color: white;
    width: 495px;
}

.border {
    padding-left: 113px;
}

.info {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}

.text_info {
    width: 316px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.header-contakts {
    border-color: green;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 20px;
}

.us {
    border-color: blue;
    background: url(img/promo.jpg);
    background-size: 100%;
}

.forma {
    border-color: green;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.adress {
    border-color: violet;
}

.messenge {
    border-color: violet;
}

.map {
    border-color: yellow;
}

.text-header {
    width: 425px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    opacity: 0.6;
    margin-top: 32px;
    color: #1F3F68;
}
.other-text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    opacity: 0.6;
    color: #1F3F68;
}

.end-text {
    width: 75%;
    margin: 32px auto 64px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #222222;
}

.bl1 {
    font-size: 64px;
    width: 510px;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}


.bl2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.bl3 {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.bl4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.Z-text {
    width: 340px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;

}

.noiz-text {
    width: 495px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    margin-top: 32px;
}

.fo {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.otp {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.prava-text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
    margin-top: 64px;
}